body h1,
body li,
button p {
    font-family: 'Pacifico', cursive;
}

.uk-container {
    height: 200px;
    background-color: gray;
    padding-top: 100px;
}

.uk-container2 {
    height: 70px;
    background-color: gray;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.switch {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
}

button p {
    padding-top: 5px;
}

button {
    height: 45px;
}